*{
	box-sizing: border-box;
}

/*.main
{
	border: solid;
}*/


/** > #inner{
	margin: 20px 0;
}

#part1{
	float: left;
	height: 100px;
}

#input{
	float: left;
	width: 300px;
}

#button_wrap{
	float: left;
	width: 100px;
}

.button{
	width: 80px;
}

#shebaogongjijin_wrap{
	clear: both;
}*/

.shebaogongjijin{
	border:none;
	border-bottom:black solid 1px;
	text-align: center;
	background-color: #ccffff;
}

.history{
	background-color: #ccffff;
}
input{
	height: 50px;
	width: 60px;
}
/*
.rate{
width:50px;
}*/
